
<div class="container">
    <nav class="navbar navbar-lght"> 
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills"> 
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink ="/Alltask">All Task</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink ="/Active">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/Completed">Completed</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>