<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Element Entry</h2>
            <form [formGroup]="ngForm" (ngSubmit)="addElements()">
                <div class="d-grid gap-2 d-md-block">
                    <table class="w3-table-all formItem">
                        <tr>
                            <td>
                                <label for="id" class="form-label">Id </label>
                                <input type="text" class="form-control" id="id" formControlName='id'>
                            </td>
                            <td>
                                <label for="userId" class="form-label">User Id</label>
                                <input type="text" class="form-control" id="userId" formControlName='userId'>
                            </td>
                            <td>
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" formControlName='title'>
                            </td>
                            <td>
                                <label for="completed" class="form-label">Completed</label>
                                <input type="text" class="form-control" id="completed" formControlName='completed'>
                            </td>
                            <div class="col-md-2">
                                <td>
                                    <label for="completed" class="form-label">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary btn-lg"
                                        style="width:100%">Submit</button>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <div class="grid-container">
        <table class="table table-striped table-hover styled-table tables">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>Title</th>
                    <th>Completed</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let user of userData; index as i">
                    <td>{{ i+1 }} </td>

                    <td>{{ user.userId }}</td>
                    <td>{{ user.title }}</td>
                    <div class="grid-item item4" [ngStyle]="{'border-left-color':getcolor(user.completed)}">
                        <td>
                            {{user.completed}}
                        </td>
                    </div>
                 
                    <td><button class="btn btn-danger btn-lg" (click)="ondelete(user)">DELETE</button></td>

                </tr>
            </tbody>

        </table>
</div>
    </div>

</div>